/**** SETANDO PADRÕES ****/
body {
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    font-size: 25px;
    min-width: 100vw;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

/**** HEADER ****/
header {
    box-sizing: border-box;
    background: #03045E;
    color: #CAF0F8;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 5vw;
}

.Links {
    padding-left: 50vw;
}

/**** MAIN ****/
main {
    width: 100vw;
    height: 84vh;
}

.Sobre {
    height: 44vh;
    background: #0077B6;
    color: #CAF0F8;
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
}

.Texto {
    height: 50%;
    width: 50%;
    text-align: justify;
    align-items: center;
    flex-flow: column;
    padding-left: 20%;
}

.Imagem {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.Listas {
    height: 36vh;
    background: #00B4D8;
    color: #03045E;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1vw;
}

.Hobbies {
    background: #18d8ff;
    height: 80%;
    width: 48vw;
    flex-flow: column;
}

.ImagemHobbies {
    height: 150px;
    width: 7vw;
}

.ImagemTop5 {
    height: 150px;
    width: 7vw;
}

.Top5 {
    background: #90E0EF;
    height: 80%;
    width: 48vw;
}

/**** FOOTER ****/
footer {
    box-sizing: border-box;
    background: #03045E;
    color: #CAF0F8;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 1vw;
}

img {
    height: 50px;
    width: 50px;
    padding-right: 25px;
}

.contato {
    padding-left: 70vw;
}

/**** RESPONSIVIDADE ****/
@media only screen and (max-device-width: 415px) {
        body { width: 414px; } 
        body { height: 896px;}
        body { font-size: 15px;}
        html {font-size: 8px;}
        .Links {padding: 30px;}
        .Sobre {padding: 0px;}
        .Imagem {height: 100px;}
        .Imagem {width: 100px;}
        .Imagem {padding: 0px;}
        .Texto {height: 150px;}
        img {height: 30px;}
        img {width: 30px;}
        .contato {padding-left: 40vw;}
        .ImagemHobbies {height: 80px;}
        .ImagemHobbies {width: 40px;}
        .ImagemTop5 {height: 80px;}
        .ImagemTop5 {width: 40px;}
        .Top5 {height: 90%;}
    }