html {
    font-size: 16px;
}

h1  {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-top: 1%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 28px 30px;
    gap: 880px;

    position: top;
    width: 100vw;
    height: 10vh;
    left: calc(50% - 1440px/2);
    top: 0px;

    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    margin-top: 109px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    

    position: center;
    width: 100vw;
    height: 85vh;
    top: 109px;

    background: #d20c0c;
}

footer {
    position: bottom;
    background: #0B090A;
    color: #F5F3F4;
    height: 5vh;
    width: 100vw;
}