html {
    font-size: 20px;
    font-family: monospace;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    background: #0B090A;
    color: #F5F3F4;
    box-sizing: border-box;
    
    height: 10vh;
    width: 100vw;
    padding: 15px;
}

header h1{
    display: inline;
    text-align: left;
    padding: 15px;
    text-shadow: 1px 2px 10px;
}
header p{
    display: inline-flex;
    padding-left: 50%;
    padding-right: 20px;
    font-size: 1.5rem;
    text-align: right;
}

.caixaFotoTexto {
    background: #660708;
    color:black;
    box-sizing: border-box;
    height: 41vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    
}

.imagem {
    border-radius: 50%;
    overflow: hidden;
    width: 247px;
    height: 247px;
    
}

.bloco-texto {
    text-align: justify;
    width: 50%;
    padding-left: 15%;
    padding-right: 15%;
}


.caixaHobbiesTop5 {
    background: #A4161A;
    color: black;
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 41vh;
}

footer {
    background: black;
    color: white;
    height: 8vh;
    width: 100vw;
}
  